@mixin flexCenter($textTransform){
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: $textTransform;
}

header{
    @include flexCenter(capitalize);
    background-color: lightblue;
    color: $textColor;
    height: 15vh;
    nav{
        text-decoration: none;
    }
    .button {
        padding: 10px 20px;
        background-color: blue;
        color: white;
        border-radius: 5px;
      }
      
      .primary-button {
        @extend .button;
        background-color: green; /* Overrides background-color */
      }
      
      .secondary-button {
        @extend .button;
        background-color: gray; /* Overrides background-color */
      }
}



