@import './variables';
@import './header';
@import './footer';

*{
    margin: 0;
}


main{
    height: 55vh;
    margin: 20vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact button{
        background-color:  $primaryColor;
        border-radius: 10px;
        width: 10vw;
        height: 6vh;
        text-transform: capitalize;
    }
}


